<!-- NZGDC Afternoon Schedule Widget - Event Panel Template -->
<div class="nzgdc-afternoon-event-panel-big">
    <!-- Event Panel Thumbnail (Left Side) -->
    <div class="nzgdc-afternoon-event-panel-big-thumbnail">
        <!-- Session Thumbnail (Background) -->
        <div class="nzgdc-afternoon-session-thumbnail-big"></div>

        <!-- Event Detail Overlay -->
        <div class="nzgdc-afternoon-event-detail-overlay-big">
            <!-- Call To Action -->
            <div class="nzgdc-afternoon-call-to-action-big">
                <div class="nzgdc-afternoon-open-marker-big"></div>
                <div class="nzgdc-afternoon-cta-text-big">Click for More Event Details</div>
            </div>
        </div>
    </div>

    <!-- Event Panel Details (Right Side) -->
    <div class="nzgdc-afternoon-event-panel-big-details">
        <!-- Event Category (Top) -->
        <div class="nzgdc-afternoon-event-category-big">
            <div class="nzgdc-afternoon-category-text-big">Afternoon Panels & Events</div>
        </div>

        <!-- Event Title (Middle) -->
        <div class="nzgdc-afternoon-event-title-big">
            <div class="nzgdc-afternoon-title-text-big">This is a Placeholder Title occupying two lines of space</div>
        </div>

        <!-- Event Speaker Details (Bottom) -->
        <div class="nzgdc-afternoon-event-speaker-details-big">
            <!-- Introduction text -->
            <div class="nzgdc-afternoon-introduction-text-big">NZGDC 2025 Afternoon Event by</div>

            <!-- Speaker Details -->
            <div class="nzgdc-afternoon-speaker-details-big">
                <!-- Speaker 1 -->
                <div class="nzgdc-afternoon-speaker-biolines-big">
                    <div class="nzgdc-afternoon-speaker-bioName-big">Speaker Name</div>
                    <div class="nzgdc-afternoon-speaker-bioPosition-big">Position + Company</div>
                </div>

                <!-- Speaker 2 -->
                <div class="nzgdc-afternoon-speaker-biolines-big">
                    <div class="nzgdc-afternoon-speaker-bioName-big">Speaker Name</div>
                    <div class="nzgdc-afternoon-speaker-bioPosition-big">Position + Company</div>
                </div>

                <!-- Speaker 3 -->
                <div class="nzgdc-afternoon-speaker-biolines-big">
                    <div class="nzgdc-afternoon-speaker-bioName-big">Speaker Name</div>
                    <div class="nzgdc-afternoon-speaker-bioPosition-big">Position + Company</div>
                </div>
            </div>

            <!-- Timeframe -->
            <div class="nzgdc-afternoon-timeframe-big">
                <div class="nzgdc-afternoon-timeframe-text-big">Timeframe (Duration)</div>
            </div>
        </div>
    </div>
</div>
