<!-- NZGDC Schedule Widget - Event Panel Template -->
<div class="nzgdc-event-panel-big">
    <!-- Event Panel Thumbnail (Left Side) -->
    <div class="nzgdc-event-panel-big-thumbnail">
        <!-- Session Thumbnail (Background) -->
        <div class="nzgdc-session-thumbnail-big"></div>

        <!-- Event Detail Overlay -->
        <div class="nzgdc-event-detail-overlay-big">
            <!-- Call To Action -->
            <div class="nzgdc-call-to-action-big">
                <div class="nzgdc-open-marker-big"></div>
                <div class="nzgdc-cta-text-big">Click for More Event Details</div>
            </div>
        </div>
    </div>

    <!-- Event Panel Details (Right Side) -->
    <div class="nzgdc-event-panel-big-details">
        <!-- Event Category (Top) -->
        <div class="nzgdc-event-category-big">
            <div class="nzgdc-category-text-big"></div>
        </div>

        <!-- Event Title (Middle) -->
        <div class="nzgdc-event-title-big">
            <div class="nzgdc-title-text-big"></div>
        </div>

        <!-- Event Speaker Details (Bottom) -->
        <div class="nzgdc-event-speaker-details-big">
            <!-- Introduction text -->
            <div class="nzgdc-introduction-text-big">NZGDC 2025 Workshop by</div>

            <!-- Speaker Details -->
            <div class="nzgdc-speaker-details-big">
                <!-- Speaker 1 -->
                <div class="nzgdc-speaker-biolines-big">
                    <div class="nzgdc-speaker-bioName-big"></div>
                    <div class="nzgdc-speaker-bioPosition-big"></div>
                </div>

                <!-- Speaker 2 -->
                <div class="nzgdc-speaker-biolines-big">
                    <div class="nzgdc-speaker-bioName-big"></div>
                    <div class="nzgdc-speaker-bioPosition-big"></div>
                </div>

                <!-- Speaker 3 -->
                <div class="nzgdc-speaker-biolines-big">
                    <div class="nzgdc-speaker-bioName-big"></div>
                    <div class="nzgdc-speaker-bioPosition-big"></div>
                </div>
            </div>

            <!-- Timeframe -->
            <div class="nzgdc-timeframe-big">
                <div class="nzgdc-timeframe-text-big"></div>
            </div>
        </div>
    </div>
</div>
